body {
  margin: 0;
  text-align: center;
  /*color: #1597bb;*/
  color: #11999e;
  background-color: #e4f9f5;
}

h1 {
  margin: 70px auto 0 auto;
  font-family: 'Tangerine', cursive;
  font-size: 10rem;
  color: #66bfbf;
  font-weight: bolder;
}

h2{
  margin: 0;
  font-size: 2.5rem;
  font-family: 'EB Garamond', serif;
  color: #66bfbf;
  font-weight:lighter;

}
h3{
  margin: 0;
  font-size: 1.8rem;
  font-family: 'EB Garamond', serif;
  color: #66bfbf;
  font-weight:lighter;

}

p{
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
}

.first {
  padding-top: 100px;
  margin:0;

}

.second {
  margin:50px auto 0 auto;
  width: 50%;
  display: inline-block;
}

.third {
  background-color:#66bfbf;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  color:#1597bb;
  font-size: 2rem;
}
.footer{
  color: #11999e;
  text-decoration: none;
  padding: 10px;

}
a:hover{
  color: #28527a;
}

.upcloud {
  position: relative;
  left: 290px;
}

.downcloud {
  position: absolute;
}
.downcloud2{
  position: absolute;
  bottom: 300px;

}
.upcloud1{
  position: relative;
  right:302px;
}
.div{
  width:25%;
  height: 25%;
  border-radius: 100%;

}
hr{
  border-style:dotted none none none;
  width: 8%;
  border-width: 8px;
  border-color: #1597bb;
  margin: 0 auto 30px auto;
}
.education{
  text-align:left;
  line-height: 1;
  margin: 100px auto 100px auto;


}
.skills{
  text-align: left;
  margin-top: 70px;

}
.edu{
  width:25%;
  height: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 20px;
}
.hobbies{
  width:25%;
  height: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 0;
  padding-left: 0;
}
.lang{
  width:25%;
  height: 25%;
  border-radius: 100%;
  float: right;
}
.gym{
  width:25%;
  height: 25%;
  border-radius: 100%;
  float: left;
}
.skill-img{
  width:25%;
  height: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 5px;
}
.attribute{
  width:25%;
  height: 25%;
  border-radius: 100%;
  float: left;
}
ul{
  padding-inline-start:323px;
  text-align: justify;
}
.profile{
    margin: 100px auto 100px auto;
}
ol{
  padding-inline-start:323px;
  text-align: justify;
}
.button{
  background-color: #66bfbf;
  border-style: none;
  color:#1597bb;
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-family:sans-serif;
  text-decoration: underline;
}
input:hover{
  background-color: #28527a;
}

.duty{
    margin: 20px auto 20px auto;
}
.duty1{
  float:left;
  width:30%;
  height: 20%;
}
.duty2{
  float:right;
  width:25%;
  height: 20%;
  border-radius: 100%;
}
